@tailwind base;
@tailwind components;
@tailwind utilities;

.popout{
    position: fixed;
    right: 0;
    background: rgb(0, 255, 0);
    top: 0;
    height: 1px;
    transform-origin: left;
    border-radius: 50%;
    scale: 0 1;
    z-index: 9999;
    width: 100%;
    animation: identifier linear;
    animation-timeline: scroll();
}
@keyframes identifier {
    to{
        scale: 1 1;
    }
}

/* .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: url('../public/svg.svg'); /* Reference the clipPath ID below */

  
  
  .image {
    -webkit-mask-image: url('../public/svg.svg');
    -webkit-mask-size: 1300px;
    -webkit-mask-repeat: no-repeat;
  }
   