@tailwind base;
@tailwind components;
@tailwind utilities;

.popout{
    position: fixed;
    right: 0;
    background: rgb(0, 255, 0);
    top: 0;
    height: 1px;
    transform-origin: left;
    border-radius: 50%;
    scale: 0 1;
    z-index: 9999;
    width: 100%;
    animation: identifier linear;
    animation-timeline: scroll();
}
@keyframes identifier {
    to{
        scale: 1 1;
    }
}